<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>タスク削除確認</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>本当にこのタスクを削除しますか？</h1>

 <p>ID: <span th:text="${task.id}"></span></p>
<p>タイトル: <span th:text="${task.title}"></span></p>
<p>詳細: <span th:text="${task.description}"></span></p>
<p>進捗: <span th:text="${task.status}"></span></p>

  <form th:action="@{/tasks/delete/complete}" method="post">
    <input type="hidden" th:name="id" th:value="${task.id}" />
    <button type="submit"class="button">削除する</button>
  </form>

  <br>
  <a th:href="@{/tasks}">キャンセルして一覧に戻る</a>
</body>
</html>
