<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>タスク編集</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1 style="text-align:center;">タスク編集フォーム</h1>

	<div class="form-container">
		<form th:action="@{/tasks/edit/confirm}" th:object="${task}" method="post">
			<input type="hidden" th:field="*{id}" />

			<!-- タイトル -->
			<div class="form-group">
				<label for="title">タイトル</label>
				<div class="form-input">
					<input type="text" id="title" th:field="*{title}" />
					<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="flash-error"></div>
				</div>
			</div>

			<!-- 詳細 -->
			<div class="form-group">
				<label for="description">詳細</label>
				<div class="form-input">
					<textarea id="description" th:field="*{description}"></textarea>
					<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="flash-error">
					</div>
				</div>
			</div>

			<!-- 期限 -->
			<div class="form-group">
				<label for="deadline">期限</label>
				<div class="form-input">
					<input type="date" id="deadline" th:field="*{deadline}" />
					<div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" class="flash-error"></div>
				</div>
			</div>

			<!-- 進捗 -->
			<div class="form-group">
				<label for="status">進捗</label>
				<div class="form-input">
					<select id="status" th:field="*{status}">
						<option value="未着手" th:selected="${task.status=='未着手'}">☓ 未着手</option>
						<option value="着手中" th:selected="${task.status=='着手中'}">△ 着手中</option>
						<option value="完了" th:selected="${task.status=='完了'}">〇 完了</option>
					</select>
				</div>
			</div>

			<!-- ボタン -->
			<div class="form-actions">
				<button type="submit" class="button">確認</button>
			</div>
		</form>

		<div class="form-actions">
			<a th:href="@{/tasks}">一覧に戻る</a>
		</div>
	</div>
</body>

</html>